{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Ziyaretçi kayıt sistemine hoş geldiniz</h1>
    <p class="lead text-muted mb-5">Ziyaretçi bilgilerini kaydedin ve düzenli bir şekilde yönetin.</p>
    <div class="d-grid gap-3 col-md-6 mx-auto">
        <a href="/registervisitor" class="btn btn-primary btn-lg">Yeni Ziyaretçi Ekle</a>
        <a href="/login" class="btn btn-primary btn-lg">Hesaba Giriş Yap</a>
    </div>
</div>
{% endblock %}
